// Specific CSS for your home-page
.bloc1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: center;
  color: $yellow;
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&h=750&w=1260);
}

.bloc1 img {
  width: 45vh;
  height: auto;
}

.bloc1 h1 {
  color: $yellow;
}

.change-my-color {
  fill: $yellow;
}
.bloc2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
  border: 5px solid $light-green;
  border-radius: 15px;
  height: 50vh;

}

.bloc2 p {
  color: $pink
}

.bloc3 {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;

  // background-color:
}
.bloc3 a {
  background-color: $pink;
  border: none;
}

.bloc3 a:hover {
  background-color: $yellow;
  transition: all 0.1s linear;
  border: none;
    &:hover {
      color: $pink;
    }
}

.card {
  border-radius: 15px;
  width: 60vh;
  height: auto;
}

.card img{
  width: auto;
  height: 45vh;
  border-radius: 15px;
}
#rotater {
  transition: all 0.3s ease;
  border: 0.0625em solid black;
  border-radius: 3.75em;
}

.typed-title {
  margin-left: 30%;
  text-align: left;
  width: 690px;
}

.btn {
  background-color: $pink;
  border: none;
}

.btn a:hover {
  background-color: $yellow;
  transition: all 0.1s linear;
  border: none;
    &:hover {
      color: $pink;
    }
}
