
// Specific CSS for your home-page
.bloc1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: center;
  color: $yellow;
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&h=750&w=1260);
}

.bloc1 img {
  width: 45vh;
  height: auto;
}

.bloc1 h1 {
  color: $yellow;
}

.change-my-color {
  fill: $yellow;
}

.bloc2 {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: $white;
}

.bloc2 p {
  font-size: 19px;
}

.bloc3 {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;

  // background-color:
}
.bloc3 a {
  background-color: $pink;
  border: none;
}

.bloc3 a:hover {
  background-color: $yellow;
  transition: all 0.1s linear;
  border: none;
    &:hover {
      color: $pink;
    }
}

.card {
  border-radius: 15px;
  width: 60vh;
  height: auto;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.card img{
  width: auto;
  height: 45vh;
  border-radius: 15px 15px 0 0;
}
#rotater {
  transition: all 0.3s ease;
  border: 0.0625em solid black;
  border-radius: 3.75em;
}

.typed-title {
  margin-left: 30%;
  text-align: left;
  width: 690px;
}

 /// MEDIA QUERIES ///
@media (max-width: 960px) {
  h1 {
    font-size: 27px;
    padding-left: 150px;
  }
  .42 {
    width: 100vw;
  }
  .bloc2 p {
    font-size: 20px;
    // height: 100vh;
    // margin: 15px;
  }
  .bloc3 {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 27px;
    padding-left: 100px;
  }
  .42 {
    width: 100vw;
  }
  .bloc2 p {
    font-size: 17px;
    // height: 100vh;
    // margin: 15px;
  }
  .bloc3 {
    flex-direction: row;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 25px;
    padding-left: 100px;
  }
  .42 {
    width: 100vw;
  }
  .bloc2 p {
    font-size: 15px;
    // height: 100vh;
    // margin: 15px;
  }
  .bloc3 {
    flex-direction: row;
  }
  .card {
    margin-bottom: 80px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 20px;
    padding-left: 120px;
  }
  .42 {
    width: 100vw;
  }
  .bloc2 {
    height: 100vh;
    // margin: 15px;
  }
  .bloc2 p {
    font-size: 17px;
  }
  .bloc3 {
    flex-direction: row;
  }
  .card {
    margin-bottom: 80px;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 25px;
    padding-left: 100px;
  }
  .42 {
    width: 100vw;
  }
  .bloc2 {
    height: 100vh;
    // margin: 15px;
  }
  .bloc2 p {
    font-size: 15px;
    // height: 100vh;
    // margin: 15px;
  }
  .bloc3 {
    flex-direction: row;
  }
  .card {
    margin-bottom: 80px;
  }
}
