<div class="banner">
  <div class="bloc1">
    <img class="pt-5 pb-5"  src="https://res.cloudinary.com/dxmeh3in0/image/upload/v1595362616/muifg3sgvedvuufsk9t7.png" alt="rouage developpeur web">
    <!-- <h2> Julien Bouland</h2> -->
    <h1 class="typed-title pr-4 pt-5">Je suis <span class="element"></span></h3>
    <!-- <#%= image_tag("cog.svg") %> -->

    <!-- <img id="rotater" onclick="rotate(this)" src="cog.svg"/> -->
  </div>
</div>
<div class="container">
  <div class="bloc2 mt-2">
    <p>Après des études de publicité et pluiseurs experiences chez l'annonceur et en médias, je suis aller faire le tour du monde</p>
    <p>En rentrant, j'ai souhaité développer une affinité que j'avais avec le domaine de la programmation. J'ai alors suivi des cours de Python avant d'aller passer la piscine de 42. c'est en y passant le mois que j'ai rencontré des alumnis du Wagon me conertant dans l'idée d'y participer.</p>
    <p>Aujourd'hui me voilà à mon tour alumni du Wagon, armé d'une passion flamboyante du code et l'envie d'en apprendre constamment. Je continue à faire mes armes en étant professeur assistant au Wagon et en developpant chaque semaines des applications. </p>
    <!-- <img id="rotater" onclick="rotate(this)" src="cog.svg"/> -->
    <%#= image_tag("cog.svg") %>
  </div>

  <div class="bloc3">
    <h3>Portfolio</h3>
    <% @project.each do |project| %>
    <div class="card">
      <%= cl_image_tag project.photo.key if project.photo.attached?%>
      <div class="card-body">
        <h4> <%= project.title %> </h4>
        <p> <%= project.description %> </p>
        <a href="<%= project.url %>" class="btn btn-primary">Aller sur le site</a>
      </div>
      <%#= image_tag("cog.svg") %>
    </div>
    <% end %>
  </div>
  <div class="bloc4">
    <a href="mailto:bouland.julien@gmail.com" class="btn btn-primary">Contactez-moi ❤️</a>
  </div>
  <a data-scroll href="#top" class="btn btn-primary"><i class="fa fa-arrow-circle-up"></i></a>

</div>
